
/* Resetowanie marginesów i odstępów */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla całego ciała strony */
body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    background-color: #333; /* Ustawienie jednolitego ciemnego tła */
    color: #fff;
    overflow: hidden; /* Zapobiega przewijaniu */
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Przezroczyste tło */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Nagłówek na wierzchu */
}

.header-center {
    flex: 1;
    text-align: center;
    font-size: 2em; /* Default size for larger screens */
}

@media (max-width: 1200px) {
    .header-center {
        font-size: 1.8em;
    }
}

@media (max-width: 800px) {
    .header-center {
        font-size: 1.5em;
    }
}

@media (max-width: 600px) {
    .header-center {
        font-size: 1.2em;
    }
}

.header-center h1 {
    margin-bottom: 5px;
}

.header-center p {
    font-style: normal;
}

/* Nawigacja */
.header-right {
    margin-right: 20px; /* Dodano margines, aby menu nie wychodziło poza ekran */
}

.header-right ul {
    list-style: none;
    display: flex;
}

.header-right ul li {
    margin: 0 10px; /* Zmniejszono margines między elementami, aby zmieścić się w nagłówku */
}

.header-right ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Mapa w pełnym ekranie */
#map-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Bez obramowania */
    z-index: 1; /* Mapa poniżej nagłówka i stopki */
}

/* Stylizacja kontrolek mapy */
.leaflet-control {
    margin-top: 70px; /* Przesunięcie kontrolki w dół, aby nie nachodziła na nagłówek */
}

/* Stopka */
footer {
    background-color: rgba(0, 0, 0, 0.5); /* Przezroczyste tło */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Stopka na wierzchu */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically */
    width: 90%; /* Adjust width if needed */
    margin: 0 auto; /* Center the content */
}

footer .logo {
    margin-left: 20px; /* Adjust the left margin as needed */
    width: 80px;
    height: 80px;
}

footer p {
    flex-grow: 1; /* Allow the paragraph to take up remaining space */
    text-align: center; /* Center the text */
}

/* New styles for the banner */
.banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0); /* Półprzezroczysty czarny pasek (80%) */
    display: flex;
    justify-content: center;
    padding-top: 15px; /* Ustawienie równych odstępów z góry i dołu */
    padding-bottom: 15px; /* Ustawienie równych odstępów z góry i dołu */
}

.container {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping of letters */
    justify-content: center;
    gap: 0.2em; /* Adjusted spacing between letters */
    max-width: 90vw; /* Maximum width of the container */
}

.letter {
    width: 2em; /* Default size */
    max-width: 256px; /* Initial max width */
    height: auto;
}

@media (max-width: 1200px) {
    .letter {
        width: 1.8em; /* Adjusted size */
    }
}

@media (max-width: 800px) {
    .letter {
        width: 1.5em; /* Adjusted size */
    }
}

@media (max-width: 600px) {
    .letter {
        width: 1.2em; /* Adjusted size */
    }
}

.space {
    width: 1em; /* Adjusted space between words */
    height: auto;
}


